$color_obl1: #FECFBA;
$color_obl2: #f5DDE8;

%plain_text {
	font-style: italic;
	font-family: Bodoni, Times New Roman;
	line-height: 120%;	}

@media print {
  div.obl_book {
	background: white;	}	}

body{
    background-color: lighter;
    font-family: verdana arial;
	text-align:center; }

#bigh1{
	color: Tomato;
	margin-bottom: -7px;	}

#bigh3{
	color: Darkred;
	margin-bottom: 10px;	}

h6{
	font-style: italic;
	color: light-blue;	}

th.rotate > div {
transform: rotate(90deg); }

.container {
	padding-top: 30px;
	}

table{
	margin: 5px	}

tr {
	vertical-align: top;	}

div.obl_book {
	vertical-align: top;
	font-style: bold;
	line-height: 80%;
	border: 2px solid grey;
	width: 110px;
	height: 190px;
	padding: 10px;
	padding-top: 20px;
	background: linear-gradient(10deg, $color_obl1, $color_obl2);		}

a.author {
	font-size: 80%;
	color:darkred;	}

td.opis	{
	@extend %plain_text;
	padding: 10px;
	color: gray;
	height: 200px;
	}

p.razv_opis {
	@extend %plain_text;}

div.down_block {
	padding-top: 10px;
	text-align: left;
	a {
		color: Tomato;	}	}
